.Forecast {
  margin: 0;
  padding: 0;
}

.Forecast {
  background: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 0.5em;
  color: #000;
  display: block;
  font-size: 0.6rem;
  margin: 1.2rem 0;
  padding: 0.8rem 0;
}

.Forecast .forecast-day {
  font-size: 0.7rem;
  font-weight: 600;
}

.Forecast .forecast-temp-max {
  font-weight: bold;
}
