:root {
  --morning-button-color: rgb(151, 185, 20);
  --morning-button-color-hover: rgba(151, 185, 20, 0.65);
  --morning-gradient: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.31) -50%,
    rgb(223, 216, 251) 60%
  );
  --day-night-button-color: rgb(228, 245, 163);
  --day-night-button-color-hover: rgba(228, 245, 163, 0.65);
  --day-gradient: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.31) -50%,
    rgb(180, 163, 245) 100%
  );
  --night-gradient: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.31) -60%,
    rgb(27, 10, 91) 45%
  );
}

.WeatherDisplay {
  margin: 0;
  padding: 0;
}
.WeatherDisplay p {
  margin: 0;
  padding: 0;
}

.WeatherDisplay div.cityWeather {
  display: inline-block;
  text-align: left;
}

.WeatherDisplay .sunIcon {
  color: var(--day-night-button-color);
  font-size: 6.8rem;
}

.WeatherDisplay h1 {
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
}

.WeatherDisplay span.country {
  display: inline-block;
  font-size: 1.5rem;
  margin-left: 0;
}

.WeatherDisplay .iconTemp {
  display: flex;
  font-size: 3rem;
}

.WeatherDisplay .degree {
  font-size: 1.4rem;
  position: relative;
  text-decoration: none;
  top: 0.5rem;
  vertical-align: baseline;
}

.WeatherDisplay .date {
  font-size: 0.8rem;
  margin: 0;
}

.WeatherDisplay .min-max-temp {
  color: #000;
  font-size: 0.7rem;
  margin: 0;
}
.WeatherDisplay .max-temp {
  font-weight: bold;
}
